<div class="col-md-11 col-md-offset-1" ng-controller="authController" novalidate>
    <div class="col-md-5 col-md-offset-1 reg">
        <div class="loginTitle loginRegTitle">Registration</div><br>
        <button class="btn reg-button" ng-click="open('sm')">Registration on site</button> <span class="or">Or</span>

        <button class="btn reg-button" ng-click="fblogin()">Sign with <i class="fa fa-facebook-official fa-lg"></i></button>
        <!--<button class="btn reg-button" ng-click="fbloginprint()">Login with <i class="fa fa-facebook-official"></i></button>-->

        <!--<pre>-->
            <!--{{fbdata}}-->
        <!--</pre>-->

        <div ng-show="successRegistration">{{ successEvent }}</div>
    </div>
        <form name="userForm" ng-submit="" novalidate class="col-md-3">
            <span class="loginTitle">Log In</span>
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label for="email">Email</label>
                <input type="email"
                       class="form-control login"
                       id="email"
                       name="email"
                       ng-model="formData.name"
                       required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.pass.$invalid && !userForm.pass.$pristine }">
                <label for="pass">Password</label>
                <input type="password"
                       class="form-control login"
                       id="pass"
                       name="pass"
                       ng-model="formData.pass"
                       required>
                <p ng-show="userForm.pass.$invalid && !userForm.pass.$pristine" class="help-block">fill pass</p>
            </div>
            <p ng-show="loginError" class="help-block">The login or password you’ve entered is incorrect</p>
            <div class="form-group row login" >
                <div>
                    <button type="submit" class="btn btn-default loginsbm" ng-click="login()" ng-disabled="userForm.$invalid">Sign in</button>
                </div>
            </div>
        </form>


</div>
